@font-face {
	src: url(../fonts/datebashvili.ttf);
	font-family: Datebashvili;
}
@font-face {
	src: url(../fonts/DejaVuSans.ttf);
	font-family: Dejavusans;
}
@font-face {
	src: url(../fonts/archyedt-bold.ttf);
	font-family: ArchyEDT;
}
@font-face {
	src: url(../fonts/FiraGo-Bold.ttf);
	font-family: FiraGo-Bold;
}